/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  background: #fff;
  color: #414042;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden
}
::selection {
  background: #6600cc;
  color: #FFF
}
::-moz-selection {
  background: #6600cc;
  color: #FFF
}
a {
  color: #60c;
  transition: .5s
}
a:hover, a:active, a:focus {
  color: #B489E5 !important;
  outline: none;
  text-decoration: none
}
p {
  padding: 0;
  margin: 0 0 10px
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'DM Serif Text', serif;
  font-weight: 400;
  margin: 0 0 20px;
  padding: 0
}
.back-to-top {
  position: fixed;
  display: none;
  background: #60c;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background .5s;
  z-index: 11
}
.back-to-top i {
  padding-top: 12px;
  color: #fff
}
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff
}
#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #60c;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite
}
@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg)
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg)
  }
}
.need-help-btn {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 15px;
  border-radius: 4px;
  transition: .5s;
  background: #60c;
  color: #FFF;
  position: fixed;
  z-index: 10;
  right: 5px;
  top: 80%
}
.need-help-btn:hover {
  background: #49009e;
  color: #FFF
}


/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  width: 33%;
  text-align: right;
  padding: 0 0 10px;
  font-size: 14px;
  transition: all .5s
}
.right-menu .right-menu-main-div {
  padding: 4px 12px;
  display: inline-block;
  float: right
}
.right-menu .right-menu-main-div a {
  display: block
}
.right-menu .right-menu-main-div.insuredoo-works-logo img {
  width: 100px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: .5;
  transition: ease all .7s
}
.right-menu .right-menu-main-div.insuredoo-works-logo img:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1
}
.right-menu .right-menu-main-div.language a {
  font-size: 18px;
  font-weight: 600;
  padding: 5px 15px;
  transition: .5s;
  color: #414042
}
.right-menu .right-menu-main-div.language a:hover {
  color: #6600cc
}
.right-menu .right-menu-main-div.login {
  position: relative
}
.right-menu .right-menu-main-div.login .btn {
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 4px;
  transition: .5s;
  background: #cbcbcb;
  color: #414042
}
.right-menu .right-menu-main-div.login .btn:hover {
  background: #6600cc;
  color: #FFF
}
.active-login-btn {
  background: #6600cc !important;
  color: #FFF !important
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  height: 110px;
  transition: all .5s;
  z-index: 997;
  transition: all .5s;
  padding: 20px 0 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all .5s;
  z-index: 997
}
#header.header-scrolled, #header.header-pages {
  height: 100px;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.3)
}

#header .logo img {
  padding: 0;
  margin: 25px auto 0 auto;
  max-height: 50px;
  transition: all .5s;
  display:block;
}
#header.header-scrolled .logo img {
  max-height: 45px;
  margin: 0 auto
}
.logo {
  width: 33%;
}
.header-content {
  position: absolute;
  top: 0;
  width: 100%;
  text-align: center
}
.sky-bkg-animated {
  background: transparent url(../img/sky.png) repeat 0 0;
  width: 100%;
  margin: 0;
  text-align: center;
  height: 200px;
  box-sizing: border-box;
  -webkit-animation: slide 60s linear infinite
}
.cityscape-bkg-animated {
  background: transparent url(../img/cityscape.png) repeat 0 0;
  width: 100%;
  text-align: center;
  height: 226px;
  box-sizing: border-box;
  -webkit-animation: slide_city 140s linear infinite
}
@-webkit-keyframes slide_city {
  from {
    background-position: 0 0
  }
  to {
    background-position: -2191px 0
  }
}
@-webkit-keyframes slide {
  from {
    background-position: 0 0
  }
  to {
    background-position: 400px 0
  }
}
.swap-on-hover {
  position: relative;
  margin: 0 auto;
  max-width: 160px;
  display: inline-block;
  width: 130px
}
.swap-on-hover img {
  position: absolute;
  top: 0;
  left: 10px;
  overflow: hidden;
  width: 110px;
  height: 97px
}
.swap-on-hover .swap-on-hover__front-image {
  transition: opacity .3s linear;
  cursor: pointer
}
.swap-on-hover .swap-on-hover__back-image {
  transition: opacity .3s linear;
  cursor: pointer
}
.swap-on-hover:hover > .swap-on-hover__front-image {
  opacity: 0
}
.swap-on-hover:hover > .swap-on-hover__back-image {
  opacity: 1
}
.swap-on-hover > .swap-on-hover__back-image {
  opacity: 0
}
.swap-on-hover p {
  text-align: center;
  margin-top: 110px;
  width: 100%
}
.swap-on-hover:hover p {
  color: #6600cc
}
/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/
#intro {
  width: 100%;
  position: relative
}
#intro .intro-info h2 {
  color: #414042;
  font-size: 48px;
  font-weight: 400
}
#intro .intro-info h3 {
  color: #414042;
  font-size: 24px;
  font-weight: 400;
  font-family: "open sans", sans-serif
}
/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.main-nav {
  width: 33%
}
.main-nav, .main-nav * {
  margin: 0;
  padding: 0;
  list-style: none
}
.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left
}
.main-nav a {
  display: block;
  position: relative;
  color: #414042;
  padding: 10px 15px;
  transition: .3s;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600
}
.main-nav a:hover, .main-nav .active > a, .main-nav li:hover > a {
  color: #6600cc;
  text-decoration: none
}
.main-nav a.selected {
  color: #6600cc;
  text-decoration: none
}
.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0 0 30px rgba(127, 137, 161, 0.25);
  transition: ease all .3s
}
.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible
}
.main-nav .drop-down li {
  min-width: 180px;
  position: relative
}
.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #065e77
}
.main-nav .drop-down ul a:hover, .main-nav .drop-down ul .active > a, .main-nav .drop-down ul li:hover > a {
  color: #6600cc
}
.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px
}
.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px)
}
.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%
}
.main-nav .drop-down .drop-down > a {
  padding-right: 35px
}
.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px
}
.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(65, 65, 65, 0.8);
  transition: .4s
}
.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none
}
.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500
}
.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #8dc2fa;
  text-decoration: none
}
.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px
}
.mobile-nav .active.drop-down > a:after {
  content: "\f077"
}
.mobile-nav .drop-down > a {
  padding-right: 35px
}
.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden
}
.mobile-nav .drop-down li {
  padding-left: 20px
}
.mobile-nav-toggle {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all .4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right
}
.mobile-nav-toggle i {
  margin: 30px 15px 0 15px;
  color: #414042
}
.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(65, 65, 65, 0.8);
  overflow: hidden;
  display: none
}
.mobile-nav-active .mobile-nav-toggle {
  left: auto;
  right: 0
}
.mobile-nav-active {
  overflow: hidden
}
.mobile-nav-active .mobile-nav {
  left: 0
}
.mobile-nav-active .mobile-nav-toggle i {
  color: #fff
}
/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
.homepage section:not(#intro) {
  padding: 80px 0 0 0
}
.inner_row {
  padding: 80px 0 0
}
/* Sections Header
--------------------------------*/
.section-header h2 {
  text-align: center;
  position: relative
}
.section-header p {
  text-align: center !important;
  margin: auto;
  font-size: 13px;
  padding-bottom: 60px;
  width: 50%
}
/* Section with background
--------------------------------*/
.section-bg {
  background: #f5f8fd;
}
/* How Insuredoo Works Section
--------------------------------*/
#how_insuredoo_works .btn {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: .5s;
  background: #6600cc;
  color: #cbcbcb
}
#how_insuredoo_works .btn:hover {
  background: #49009e
}
/* Insuredoo Library Section
--------------------------------*/
#insuredoo_library h2 {
  margin: 0 0 40px
}
#insuredoo_library .h4_inner_header {
  color: #6600cc;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600
}
#insuredoo_library .btn {
  font-size: 12px;
  line-height: 24px;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 4px;
  transition: .5s;
  background: #cbcbcb;
  color: #414042;
  float: right
}
#insuredoo_library .btn:hover {
  background: #939393;color:#FFF !important
}
/* Insuredoo Rewards Section
--------------------------------*/
#insuredoo_rewards .h4_inner_header {
  color: #6600cc;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600
}
#insuredoo_rewards .section_title_message {
  text-align: center;
  font-size: .8rem
}
/* Our Partners Section
--------------------------------*/
#our_partners .partner_logo img {
  max-width: 120px;
  margin: 25px;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: 0.5;
  transition: ease all 0.7s;
}
#our_partners .partner_logo:hover img {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  opacity: 1
}
#our_partners .partner_logo_container {
  text-align: center
}
#our_partners .partner_logo {
  display: inline-block;
  float: none;
  width: 18%;
}
/* What Makes Us Different Section
--------------------------------*/
#what_makes_us_different {
  padding: 80px 0
}
#what_makes_us_different .cards_container {
  margin-top: 80px
}
#what_makes_us_different .card {
  box-shadow: 0 3px 0 0 rgba(65, 62, 102, 0.08);
  transition: all .3s ease-in-out;
  padding: 36px 0;
  position: relative;
  border: 1px solid #6600cc;
  border-radius: 10px;
  height: 100%
}
#what_makes_us_different .card:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid #CCC
}
#what_makes_us_different .card .card-title {
  margin-bottom: 16px;
  color: #535074
}
#what_makes_us_different .card .card-block {
  padding-top: 0;
  text-align: center;
  width: 70%;
  margin: auto
}
#what_makes_us_different .card .card-icon {
  padding-top: 0;
  text-align: center;
  width: 40%;
  margin: 25px auto
}
#what_makes_us_different .card .card-icon img {
  max-width: 135px;
}
#what_makes_us_different .card .list-group-item {
  border: 0;
  padding: 6px;
  color: #414042;
  font-weight: 300
}
#what_makes_us_different .card h4 {
  font-size: 18px;
  margin-bottom: 0;
  color: #535074;
  font-weight: 400;
  text-transform: uppercase
}
/* Blog Section
--------------------------------*/
.blog-1-carousel {
  margin-top: 125px
}
.blog-1-carousel h4 {
  color: #6600cc
}
.blog-1-carousel .fa {
  padding: 15px 17px;
  border-radius: 25px;
  transition: .5s;
  background: #FFF;
  border: 1px solid #666;
  color: #666;
  line-height: 100%;
  margin: 0 5px 0 0
}
.blog-1-carousel .fa:hover {
  background: #6600cc;
  color: #FFF
}
.blog-2-carousel {
  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 5% 15%
}
.blog-2-carousel .owl-stage-outer {
  border-radius: 50%
}
.blog-2-carousel .blog-2-item img {
  width: 100px;
  border-radius: 50%;
  margin: 25px auto
}
.blog-2-carousel .blog-2-item {
  width: 70%;
  margin: 50px auto 0
}
.blog-2-carousel .blog-2-item p {
  font-size: 12px
}
.blog-2-carousel .btn {
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 5px 15px;
  border-radius: 4px;
  transition: .5s;
  background: #6600cc;
  color: #cbcbcb;
  margin-bottom: 20px
}
.blog-2-carousel .btn:hover {
  background: #49009e
}
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  outline: none
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  padding: 0 0 30px;
  font-size: 14px;
  background: #651bc8
}
#footer .footer-top {
  padding: 60px 0 30px;
  background: #651bc8
}
#footer .footer-top .footer-info {
  margin-bottom: 30px
}
#footer .footer-top .footer-info img {
  margin: 0 0 20px;
  padding: 2px 0;
  max-width: 150px
}
#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Open Sans", sans-serif;
  color: #FFF;
  text-align: justify
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #6600cc;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 5px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: .3s;
  border: 1px solid #8548e5
}
#footer .footer-top .social-links a:hover {
  background: #7736dd;
  color: #fff
}
#footer .footer-top h2 {
  font-size: 36px;
  color: #FFF;
  text-transform: uppercase;
  position: relative;
  text-align: center
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0
}
#footer .footer-top .footer-links ul li {
  padding: 2px 0
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0
}
#footer .footer-top .footer-links ul a {
  color: #FFF
}
#footer .footer-top .footer-links ul a:hover {
  color: #8548e5
}
#footer .footer-top .footer-newsletter {
  margin: 0 auto 60px;
  width: 70%
}
#footer .footer-top .footer-newsletter input[type="email"] {
  border: 0;
  padding: 6px 8px;
  border: 1px solid #8548e5;
  background-color: transparent;
  color: #FFF;
  border-radius: 4px
}
#footer .footer-top .footer-newsletter input[type="text"] {
  border: 0;
  padding: 6px 8px;
  border: 1px solid #8548e5;
  background-color: transparent;
  color: #FFF;
  border-radius: 4px
}
#footer .footer-top .footer-newsletter input[type="submit"] {
  display: inline-block;
  background: #FFF;
  border: 1px solid #FFF;
  width: 31%;
  margin: 0;
  padding: 6px 0;
  text-align: center;
  color: #651bc8;
  transition: .3s;
  cursor: pointer;
  border-radius: 4px
}
#footer .footer-top .footer-newsletter input[type="submit"]:hover {
  background-color: transparent;
  color: #FFF
}
#footer .footer-top .footer-newsletter input::-webkit-input-placeholder {
  color: #FFF
}
#footer .footer-top .footer-newsletter input::-moz-placeholder {
  color: #FFF
}
#footer .footer-top .footer-newsletter input:-ms-input-placeholder {
  color: #FFF
}
#footer .footer-top .footer-newsletter input::placeholder {
  color: #FFF
}
#footer .footer-top .footer-newsletter .form-group {
  width: 31%;
  margin: 0 1%;
  display: inline-block;
  vertical-align: top
}
#footer .footer-top .footer-newsletter #sendmessage {
  color: #fff;
  background: #1bb1dc;
  display: none;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin-bottom: 15px
}
#footer .footer-top .footer-newsletter .form-error {
  color: #fff;
  font-size: 10px
}
#footer .footer-top .footer-newsletter #sendmessage.show, #footer .footer-top .footer-newsletter #errormessage.show, #footer .footer-top .footer-newsletter .show {
  display: block
}
#footer .footer-top .footer-newsletter .validation {
  color: red;
  display: none;
  margin: 0 0 20px;
  font-weight: 400;
  font-size: 13px
}
#footer .footer-top .footer-newsletter label {
  color: #414042;
  font-weight: 500
}
#footer .speech-bubble {
  position: relative;
  border-radius: 15px;
  padding: 20px 20px 20px 55px;
  font-size: 12px;
  background: #FFF url(../img/twitter_icon.png) no-repeat;
  background-position: 3% 80%
}
#footer .speech-bubble span {
  font-size: 10px;
  color: #651bc8
}
#footer .speech-bubble:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: #FFF;
  border-bottom: 0;
  border-left: 0;
  margin-left: -10px;
  margin-bottom: -15px
}
#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #FFF
}
.footer_links_separator:after {
  content: '';
  background-color: #9158ca;
  width: 1px;
  height: 85%;
  display: block;
  vertical-align: top;
  position: absolute;
  top: 0
}
.footer_links_separator .footer-links {
  margin-left: 50px
}
/*--------------------------------------------------------------
# Login Pupup
--------------------------------------------------------------*/
.login_box_container {
  position: absolute;
  top: 55px;
  right: 12px;
  display: none;
  width: 300px;
}
.arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid rgba(102, 0, 204, 1);
  right: 5%;
  position: absolute;
  top: -15px;
}
.loginformholder {
  background: rgba(102, 0, 204, 1);
  border-radius: 5px;
  padding: 15px;
  text-align: left;
  color: #FFF;
}
.loginformholder label {
  width: 28%;
  margin: 0.5rem 0;
  display: inline-block;
}
.loginformholder input {
  width: 70%;
  padding: 6px 8px;
  border: 1px solid #8548e5;
  background-color: transparent;
  color: #FFF;
  border-radius: 4px;
  display: inline-block;
}
.loginformholder input::-webkit-input-placeholder {
  color: #FFF
}
.loginformholder input::-moz-placeholder {
  color: #FFF
}
.loginformholder input::-ms-input-placeholder {
  color: #FFF
}
.loginformholder input::placeholder {
  color: #FFF
}
.loginformholder input[type="submit"] {
  background: #FFF;
  border: 1px solid #FFF;
  width: 70%;
  margin: 0.5rem 0 0 30%;
  padding: 6px 0;
  text-align: center;
  color: #651bc8;
  transition: .3s;
  cursor: pointer;
  border-radius: 4px
}
.loginformholder input[type="submit"]:hover {
  background-color: transparent;
  color: #FFF
}
.loginformholder .other_links {
  width: 100%;
  margin: 0.5rem 0 0 0;
  text-align: center
}
.loginformholder .other_links a {
  transition: .3s;
  color: #FFF;
  display: inline-block !important
}
.loginformholder .other_links .forgot_my_password:after {
  content: '|';
  color: #FFF;
  margin: 0 5px;
  vertical-align: top;
}
.loginformholder .other_links a:hover {
  opacity: 0.5;
}
.loginformholder p {
  margin: 0
}
.loginformholder .form-error {
  color: #fff;
  font-size: 10px;
  margin: 0 0 0 30%
}
/*--------------------------------------------------------------
# Insurance Main Pages
--------------------------------------------------------------*/
.inner-page-section-header h2 {
  color: #414042;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 400
}
.inner-page-section-header h3 {
  margin-top: 40px;
  text-align: center;
  color: #414042;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
}
.purple-text-color {
  color: #6600cc
}
.main_section .main-content h4 {
  color: #414042;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
  font-family: "open sans", sans-serif
}
.main_section .btn {
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: .5s;
  background: #6600cc;
  color: #cbcbcb
}
.main_section .btn:hover {
  background: #49009e
}
section.quotes_insurance_top_section, section.main_section {
  padding: 150px 0 50px 0
}
/*--------------------------------------------------------------
# Insurance accordion
--------------------------------------------------------------*/
.card-header {
  text-align: center;
  background: none;
  cursor: pointer
}
.card-header h5 {
  font-weight: 700;
  font-family: "open sans", sans-serif;
  color: #6600cc
}
.faq-container {
  border: none
}
/*--------------------------------------------------------------
# Insurance Boxes
--------------------------------------------------------------*/
.insurance_boxes {
  padding: 80px 0
}
.insurance_boxes .card {
  background-color: #fafafa;
  box-shadow: 0 3px 0 0 rgba(65, 62, 102, 0.08);
  transition: all .3s ease-in-out;
  padding: 36px 0;
  position: relative;
  border: 1px solid #6600cc;
  border-radius: 10px;
  height: 100%
}
.insurance_boxes .card:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid #CCC
}
.insurance_boxes .card .card-title {
  margin-bottom: 16px;
  color: #535074
}
.insurance_boxes .card .card-block {
  padding-top: 0;
  text-align: center;
  width: 70%;
  margin: auto
}
.insurance_boxes .card .card-icon {
  padding-top: 0;
  text-align: center;
  width: 40%;
  margin: 25px auto
}
.insurance_boxes .card .card-icon img {
  max-width: 135px;
}
.insurance_boxes .card .list-group-item {
  border: 0;
  padding: 6px;
  color: #414042;
  font-weight: 300
}
.insurance_boxes .card h4 {
  font-size: 18px;
  margin-bottom: 0;
  color: #535074;
  font-weight: 400;
  text-transform: uppercase;
}
/*--------------------------------------------------------------# Insurance Form--------------------------------------------------------------*/
.button-label {
  display: inline-block;
  padding: 5px 30px;
  margin: 5px 5px 5px 0;
  cursor: pointer;
  color: #6600cc;
  border-radius: 5px;
  border: 1px solid #cbcbcb;
  background: #FFF;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none
}
.button-label p {
  font-family: "open sans", sans-serif;
  margin: 0
}
.button-label:hover {
  background: #cbcbcb;
  color: #6600cc
}
.button-label:active {
  -webkit-transform: translateY(2px);
  transform: translateY(2px)
}
.radio-label:checked + .button-label {
  background: #6600cc;
  color: #FFF
}
.radio-label:checked + .button-label:hover {
  background: #6600cc;
  color: #FFF
}
.hidden {
  display: none
}
.price_estimation_container {
  background-color: #F0F0F0;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  margin: 2rem 0
}
.price_estimation_container p {
  margin-bottom: 0
}
.price_estimation_container p span {
  font-weight: 700;
  color: #6600cc
}

.submit-btn {
  min-width: 240px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: .5s;
  background: #6600cc;
  color: #cbcbcb
}
.submit-btn:hover {
  background: #49009e;
  color: #FFF
}
.form-error {
  font-size: 12px;
  color: rgb(185, 74, 72);
}
.form-group.has-error .select2-selection {
  border: 1px solid rgb(185, 74, 72)
}
.tooltip-inner {
  background-color: #EAEAEA !important;
  color: #414042;
  text-align: left;
}
.tooltipster-sidetip .tooltipster-content {
  font-size: 12px;
  line-height: 160%
}
.tooltip-arrow {
  background-color: #EAEAEA !important;
}
div.ui-tooltip {
  max-width: 400px;
}
/*--------------------------------------------------------------# About us page--------------------------------------------------------------*/
#about_insuredoo .h4_inner_header {
  color: #6600cc;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600
}
#our_values {
  padding: 80px 0
}
#our_values .cards_container {
  margin-top: 80px
}
#our_values .card {
  background: #fafafa;
  box-shadow: 0 3px 0 0 rgba(65, 62, 102, 0.08);
  transition: all .3s ease-in-out;
  padding: 36px 0;
  position: relative;
  border: 1px solid #6600cc;
  border-radius: 10px;
  height: 100%
}
#our_values .card:hover {
  -webkit-transform: scale(1.02);
  transform: scale(1.02);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.08);
  border: 1px solid #CCC
}
#our_values .card .card-title {
  margin-bottom: 16px;
  color: #535074
}
#our_values .card .card-block {
  padding-top: 0;
  text-align: center;
  width: 70%;
  margin: auto
}
#our_values .card .card-icon {
  padding-top: 0;
  text-align: center;
  width: 40%;
  margin: 25px auto
}
#our_values .card .card-icon img {
  max-width: 135px;
}
#our_values .card .list-group-item {
  border: 0;
  padding: 6px;
  color: #414042;
  font-weight: 300
}
#our_values .card h4 {
  font-size: 18px;
  margin-bottom: 0;
  color: #535074;
  font-weight: 400;
  text-transform: uppercase
}
/*--------------------------------------------------------------# Compare Page--------------------------------------------------------------*/
.modal-header,.modal-footer{border:none}
.modal-inner-box {
  box-shadow: 0px 0 10px 5px rgba(0, 0, 0, 0.08);
  border: 0px solid #CCC;
  margin: 20px;
  padding: 15px;
}
h3.modal-title {
  text-align: center;
  color: #6600cc;
  text-transform: uppercase;
  margin-bottom: auto;
  width: 100%;
}
.modal-inner-box h4 {
  text-align: center;
  color: #6600cc;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
}
.modal-inner-box .row {
  margin-bottom: 10px
}
.yes-no-option {
  max-width: 32px;margin:auto
}
.modal-footer{display: block}

.modal-footer .btn-primary {
    background-color: #6600cc;
    border-color: #6600cc;
}
.close-insurance-modal-btn-container{text-align:right}
.entities-container{display: flex;
  flex-wrap: wrap;}
  
  
.is-animated {
  animation: .6s zoom-in;
}

@keyframes zoom-in {
  0% {
   transform: scale(.1);
  } 
  100% {
    transform: none;
  }
}

.entity-container{border: 1px solid #6600CC;
    border-radius: 10px;background-color:#fcfcfc;
    padding: 25px;margin:0 0 15px 0;width:100%}
.entity-header{margin-bottom:25px}
.entity-logo{text-align:center}
.entity-logo img{max-width:240px;width:100%;margin-bottom:15px;}
.entity-header .main-company-title{margin-bottom: 0;
    font-weight: 700;}
.entity-header .entity-insurance-options{margin: 0;
    font-size: 0.8rem;
    font-weight: 700;
    color: #6600CC;border-radius:15px;display:inline-block;margin:5px 10px 0 0;padding: 2px 15px;}
.entity-header .entity-insurance-options.empty-box{border:1px solid #6600cc;color:#6600cc;}
.entity-header .entity-insurance-options.fill-box{border:1px solid #6600cc;background-color:#6600cc;color:#FFF;}
.entity-options .entity-option{padding-right:10px;padding-left:10px}
.entity-container .entity-options.separator:after{background-color:#CCC;width:100%;height:1px;display:block;content:'';margin:10px 0}
.entity-options .option-value{font-size: 0.80rem;min-height: 0px;font-weight: 600;color:#6600CC;margin:0 0 10px 0;min-height:27px;}
.entity-options .option-title{font-size: 0.80rem;min-height: 40px;font-weight: 600;margin-bottom: 15px;cursor:help}
.entity-container .terms_link{    font-size: 0.8rem;
    text-align: center;
    width: 100%;
    display: block;
    margin: 5px 0;}
.pulsate {
    -webkit-animation: pulsate 0.7s ease-in-out;
    -webkit-animation-iteration-count: 1; 
    transform: scale(1);
}
@-webkit-keyframes pulsate {
    0% { 
        transform: scale(1);
    }
    50% { 
        transform: scale(1.2);
    }
    100% { 
        transform: scale(1);
    }
}

.buy-now-btn{color: #FFF;
    background: #6600CC;
    padding: 5px 0;
    width: 100%;
    font-size: 1rem;
    font-weight: 700;
    border: none;
    border-radius: 5px;}
.option-value-desc{font-size: 0.80rem;font-weight: 600;height:auto;margin:5px 0}
.additional-features{background: rgb(228, 242, 253);
    padding: 15px 5px;
    border-radius: 5px;
    border: 1px solid rgb(165, 206, 238);
    margin: 15px 0px;}
.more-info-toggle{    width: 100%;
    text-align: center;
    display: block;
    margin-top: 15px;
    font-weight: 700;
    text-transform: uppercase;}
.inner-page-section-header h4{ font-family: "Open Sans", sans-serif;font-weight: 600}
.inner-page-section-header .small-text{color:#6600CC}


.filter-col .filter-criteria-title{font-family: "Open Sans", sans-serif;font-weight: 600;margin:20px 0 0 0}
.filter-col .filter-criteria-title:first-child{margin-top:0}
.filter-col-sticky{position:fixed;top:0;overflow-y:auto}
.filter-col.footer-fixed{background: rgb(227,227,227);
background: linear-gradient(180deg, rgba(227,227,227,0.95) 0%, rgba(255,255,255,1) 100%);z-index:99;padding:25px;border-radius:5px;box-shadow: 0 0 30px rgba(127, 137, 161, 0.3);}

.filter-col button{
padding: 5px 10px;
background: #FFF;
border: 1px solid #cbcbcb;
border-radius: 5px;
font-size: 0.8rem;
margin-bottom:10px;
text-align: left;width:100%;text-align:center;
height: 100%;    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;outline:none !important
}
.filter-col button.active{background: #6600cc;border: 1px solid #6600cc;color:#FFF}
.filter-option-title{width: 80%;
    display: inline-block;
    margin: 10px 0 10px 0;
    vertical-align: top;
    font-size: 0.8rem;
    margin-bottom: 10px;}
.filter-option-value{width: 18%;display: inline-block;margin: 5px 0 10px 0;}

.checkbox-label {
    display: block;
    position: relative;
    margin: auto;
    cursor: pointer;
    font-size: 22px;
    line-height: 24px;
    height: 24px;
    width: 24px;
    clear: both;
}

.checkbox-label input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkbox-label .checkbox-custom {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 24px;
    width: 24px;
    background-color: transparent;
    border-radius: 5px;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    border: 2px solid #6600CC;
}


.checkbox-label input:checked ~ .checkbox-custom {
    background-color: #6600CC;
    border-radius: 5px;
    -webkit-transform: rotate(0deg) scale(1);
    -ms-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
    opacity:1;
    border: 2px solid #6600CC;
}


.checkbox-label .checkbox-custom::after {
    position: absolute;
    content: "";
    left: 12px;
    top: 12px;
    height: 0px;
    width: 0px;
    border-radius: 5px;
    border: solid #6600CC;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(0deg) scale(0);
    -ms-transform: rotate(0deg) scale(0);
    transform: rotate(0deg) scale(0);
    opacity:1;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}


.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity:1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #6600CC;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}



.checkbox-label .checkbox-custom.circular {
    border-radius: 50%;
    border: 2px solid #6600CC;
}

.checkbox-label input:disabled ~ .checkbox-custom.circular{
    border-radius: 50%;
    border: 2px solid #CCC;
}

.checkbox-label input:checked ~ .checkbox-custom.circular {
    background-color: #6600CC;
    border-radius: 50%;
    border: 2px solid #6600CC;
}
.checkbox-label input:checked ~ .checkbox-custom.circular::after {
    border: solid #FFFFFF;
    border-width: 0 2px 2px 0;
}
.checkbox-label .checkbox-custom.circular::after {
    border-radius: 50%;
}

.checkbox-label .checkbox-custom.circular::before {
    border-radius: 50%;
    border: 2px solid #6600CC;
}

.checkbox-label input:checked ~ .checkbox-custom.circular::before {
    border-radius: 50%;
}
/*--------------------------------------------------------------
checkout page
--------------------------------------------------------------*/


.data-summary-checkout,.shop-with-confidence{
  padding: 25px;
  position: relative;
  border: 1px solid #6600cc;
  border-radius: 10px;
  height: 100%;
  background:#fafafa
}

.shop-with-confidence-description{width:70%;float:left;}
.shop-with-confidence-image{width:25%;float:left;margin:0 2.5%}
.shop-with-confidence-description h5{font-family: "Open Sans", sans-serif;font-weight: 600;}
.shop-with-confidence-description h4{font-family: "Open Sans", sans-serif;font-weight: 600;color:#6600cc;text-transform:uppercase}
.what-happens-next{padding: 25px 0;}
.what-happens-next h5{font-family: "Open Sans", sans-serif;font-weight: 600;color:#6600cc;}

.checkout-additional-peace h4{text-align:center;font-family: "Open Sans", sans-serif;font-weight: 600;}
.checkout-additional-peace-vat-msg{text-align:center;color:#6600cc;font-size:0.8rem}

.title-summary-checkout img{margin:auto;max-width: 200px;width:100%}
.title-summary-checkout h4{font-family: "Open Sans", sans-serif;font-weight: 600;font-size:1rem}
.title-summary-checkout p,.data-summary-checkout a{font-size:0.8rem}
.title-summary-checkout h4.summary-checkout-amount{color:#6600cc;font-size:1.5rem;font-weight:700}

.data-summary-checkout img{max-width:40px;margin:auto}
.data-summary-checkout h4{color:#6600cc;font-family: "Open Sans", sans-serif;font-weight: 600;font-size:1rem}
.data-summary-checkout p,.data-summary-checkout a{font-size:0.8rem}
.checkbox-label.with-label{display:inline-block;vertical-align:top;margin:0 5px}
.checkout-total-summary *:not(i){font-family: "Open Sans", sans-serif;font-weight: 600;text-align: right}
.total-saving-text{color:#3A751F}
.initial-total-value{text-decoration: line-through;}
.checkout-promo-text:before{content:'';display:block;width:100%;height:1px;margin:30px 0;background:#CCC}
.checkout-promo-text{text-align: center;color: #6600cc;font-size: 0.8rem;text-transform: uppercase;font-weight: 700}
.btn.coupon-btn {
  cursor: pointer;
  font-weight: 600;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;  border-radius: 4px;
  transition: .5s;
  background: #cbcbcb;
  color: #414042;
	text-align: center;width: 80%;
    margin-right: 7%;
}
.btn.coupon-btn:hover {
  background: #6600cc;
  color: #FFF
}
.proceed-to-payment-row{text-align:right}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/
@media (min-width: 1200px) {
	.entity-options .entity-option{width:19.5%;}
}
@media (max-width: 1199px) {
	.entity-option.collapse:not(.show){display:block !important}
}

@media (min-width: 991px) {
  #call-to-action .cta-btn-container {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end
  }
  
}
@media (min-width: 992px) {
  #testimonials .testimonial-item p {
    width: 80%
  }
  .main-nav a {
    padding: 10px 10px;
    font-size: 13px;
  }
  
}
@media (min-width: 768px) {
  .content-block p {
    text-align: justify
  }
}

@media (max-width: 991px) {
  .logo {
    width: 33%;
    margin-left: 33%
  }
  body {
    font-size: 0.8rem;
  }
  #footer {
    font-size: 0.8rem;
  }
  #header {
    height: 70px;
    padding: 15px 0
  }
  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0
  }
  #header .logo img {
    margin: 0 auto;
  }
  #why-us .why-us-content {
    padding-top: 30px
  }
  #pricing {
    padding-bottom: 30px
  }
  #pricing .card {
    margin-bottom: 50px
  }
  #our_partners .partner_logo img {
    max-width: 90px;
  }
  .blog-1-carousel {
    margin-top: 0;
  }
  #what_makes_us_different .cards_container, .insurance_boxes .cards_container, #our_values .cards_container {
    margin-top: 0;
  }
  #what_makes_us_different .card, .insurance_boxes .card, #our_values .card {
    border: none;
    box-shadow: none;
    padding: 0;
    background: none;
  }
  #what_makes_us_different .card:hover, .insurance_boxes .card:hover, #our_values .card:hover {
    border: none;
    box-shadow: none
  }
  #what_makes_us_different .card .card-icon, .insurance_boxes .card .card-icon, #our_values .card .card-icon {
    margin: 25px auto
  }
  #intro .intro-info {
    text-align: center;
    padding-top: 40px
  }
  .right-menu .right-menu-main-div.login .btn {
    padding: 3px 8px;
    margin-top: 10px
  }
  .footer_links_separator .footer-links {
    margin: 25px 0
  }
  .footer_links_separator:after {
    display: none
  }
  #footer .footer-top .footer-newsletter {
    width: 100%
  }
  .main_section .main-content {
    margin: 35px 0 0 0
  }
  section.quotes_insurance_top_section, section.main_section {
    padding: 150px 0 50px 0
  }
  section.main_section .row-title {
    margin-bottom: 25px
  }
  .inner-page-section-header h2 {
    font-size: 28px;
  }
  
}
@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px
  }
  #faq #faq-list a {
    font-size: 18px
  }
  #faq #faq-list i {
    top: 13px
  }
}
@media (max-width: 767px) {
  #intro {
    height: 100%
  }
  #intro .container {
    height: auto !important
  }
  #intro .intro-img {
    width: 80%
  }
  #intro .intro-info h2 {
    font-size: 34px;
  }
  #intro .intro-info h3 {
    font-size: 18px;
    font-weight: 600
  }
  .section-header p {
    width: 100%
  }
  #testimonials .testimonial-item {
    text-align: center
  }
  #testimonials .testimonial-item .testimonial-img {
    float: none;
    margin: auto
  }
  #testimonials .testimonial-item h3, #testimonials .testimonial-item h4, #testimonials .testimonial-item p {
    margin-left: 0
  }
  .content-block {
    margin-top: 25px
  }
  .content-block p, .content-block .h4_inner_header {
    text-align: center
  }
  .swap-on-hover p {
    margin-bottom: 0
  }
  #our_partners .partner_logo {
    width: 24%
  }
  #what_makes_us_different .card .card-icon {
    width: 25%;
    margin: 25px auto
  }
  .blog-1-carousel {
    margin-top: 0
  }
  .blog-2-carousel {
    text-align: center;
    position: relative;
    top: 0;
    left: 0;
  }
  .blog-2-carousel-container {
    background-color: #EAEAEA;
    margin-top: 25px
  }
  .blog-2-carousel .blog-2-item {
    width: 100%;
    margin: 10px auto 0
  }
  .blog-2-carousel .owl-stage-outer {
    border-radius: 0
  }
}
@media (max-width: 568px) {
  #intro .intro-info h2 {
    font-size: 24px;
  }
  #intro .intro-info h3 {
    font-size: 13px;
    font-weight: 600
  }
  #footer .footer-top .social-links a {
    margin-bottom: 25px
  }
  .h2, h2 {
    font-size: 1.5rem
  }
  .h4, h4 {
    font-size: 1.1rem
  }
  .inner_row {
    padding: 40px 0 0
  }
  #our_partners .partner_logo {
    width: 49%
  }
  #what_makes_us_different .card .card-icon {
    width: 40%;
    margin: 25px auto
  }
  #what_makes_us_different .card .card-block {
    width: 100%
  }
  #footer .footer-top .footer-newsletter .form-group {
    width: 98%;
    margin: 5px 0
  }
  #footer .footer-top .footer-newsletter input[type="submit"] {
    width: 98%;
    margin: 0
  }
  #header .logo img {
    max-height: 35px
  }
}